<a href="https://colab.research.google.com/github/Guna940/Implementation-of-Decision-Tree-Regressor-Model-for-Predicting-the-Salary-of-the-Employee/blob/main/Exp_No_7_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
data=pd.read_csv("/content/Salary.csv")
print("Data.head():")
data.head()

Data.head():

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [21]:
print("Data.info():")
data.info()

Data.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

In [22]:
print("Data.isnull() and Sum():")
data.isnull().sum()

Data.isnull() and Sum():

Position    0
Level       0
Salary      0
dtype: int64

In [23]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [24]:
print("data.head() for Salary:")
data["Position"]=le.fit_transform(data["Position"])
data.head()

data.head() for Salary:

   Position  Level  Salary
0         0      1   45000
1         4      2   50000
2         8      3   60000
3         5      4   80000
4         3      5  110000

In [25]:
x=data[["Position","Level"]]
y=data[["Salary"]]

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(x_train,y_train)
y_pred=dt.predict(x_test)

In [27]:
print("MSE Value:")
from sklearn import metrics
mse=metrics.mean_squared_error(y_test,y_pred)
mse

MSE Value:

462500000.0

In [28]:
print("r2 Value:")
r2=metrics.r2_score(y_test,y_pred)
r2

r2 Value:

0.48611111111111116

In [29]:
print("data prediction:")
dt.predict([[5,6]])

data prediction:

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([150000.])